<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<% @album_attachments.each do |p| %>
  <%= image_tag p.photo_url, :style => "width: 300px; height: 250px;"  %>
  <%= link_to "Edit", edit_album_attachment_path(p) %>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>